<h1>Items</h1>
<div>
<%= form_for(@item) do |f| %>
  <div class="form_group">
    <%= f.label(:price, class: 'form-label') %>
    <%= f.text_field(:price, class: 'form-control') %>
  </div>
  <div class="form_group">
    <%= f.label(:category, class: 'form-label') %>
    <%= select("item", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  </div>
  <div class="form_group">
    <%= f.label(:description, class: 'form-label') %>
    <%= f.text_field(:description, class: 'form-control') %>
  </div>
  <div class="form_group">
    <%= f.label(:details, class: 'form-label') %>
    <%= f.text_field(:details, class: 'form-control') %>
  </div>
  <div class="form_group">
    <%= f.submit('Post', class: 'btn btn-lg btn-success') %>
  </div>
<% end %>

</div>
